.column{
    /*display: inline-block;*/
    border: 1px solid;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.oneField{
    height: 30px;
    width: 30px;
}
body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;


}
header{
    background: cornflowerblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
.playField{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
#fieldShips{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 300px;
    height: auto;
    background: cornflowerblue;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.page{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 100vh;
}
div[id="m_"]{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: darkslateblue;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
#y_{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: blueviolet;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: royalblue;
}
.darkseagreen{
    background: darkseagreen;
}
.blue{
    background: blue;
}
.chartreuse{
    background: chartreuse;
}
.darkolivegreen{
    background: darkolivegreen;
}
.btnShip{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.hit{
    -webkit-animation: animHit ;
    animation: animHit ;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    background: red;
}
.miss{
    -webkit-animation: animMiss ;
    animation: animMiss ;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    background: deepskyblue;
}
@-webkit-keyframes animHit {
    0% {background:blueviolet; }
    25%{background: yellow;}
    50%{background: orange;}
    100%{background: red;}
}
@keyframes animHit {
    0% {background:blueviolet; }
    25%{background: yellow;}
    50%{background: orange;}
    100%{background: red;}
}
@-webkit-keyframes animMiss {
    0% {background:white; }
    100%{background: deepskyblue;}
}
@keyframes animMiss {
    0% {background:white; }
    100%{background: deepskyblue;}
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content svg {
    width: 100px;
    height: 100px;
}
button[for="tripleShip"] + svg{
    width: 150px;
    height: 50px;
}
button[for="squareShip"] + svg {
    width: 50px;
    height: 50px;
}
button[for="doubleShip"] + svg{
    width: 100px;
    height: 50px;
}
button[for="tiangleShip"] + svg{
    width: 150px;
    height: 100px;
}


@media (max-width: 700px) {
    .page{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .page #fieldShips  {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    #m_ {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    #y_ {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}